<!DOCTYPE html>
<html>
    <head>
        <title>Image!</title>
    </head>
    <body>
        <%if(requestFile){%>
        <form method="post" enctype="multipart/form-data" action="./echo">
            <input type="file" accept="image/*" name="image">
            <input type="submit">
        </form>
        <%}%>
        <br>
        <%for(var j = 0; j < blobs.length; j++){%>
        <img src="<%= blobs[j]["file"]%>" name="image">
        <%}%>
    </body>
</html>