<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
                                          <!--href relative to public folder-->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <img src="images/Logo.png" alt="logo" onclick="goHome();">
    <div class="box">
      <h1>Welcome!</h1>
      <form action="/" method="post">
        <table>
          <tr>
            <td> <input type="text" name="name" placeholder="Name" autocomplete="off"> </td>
          </tr>
          <tr>
            <td> <input type="text" name="username" placeholder="Username" autocomplete="off"> </td>
          </tr>
          <tr>
            <td> <input type="password" name="password" placeholder="Password"> </td>
          </tr>
        </table>
        <input type="submit" name="submit" value="Sign in">
      </form>
    </div>
    <script src="javascripts/navigation.js"></script>
  </body>
</html>
