<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <!--paths relative to route that renders it-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--adding dependency for fontawesome icons-->
<!--    <script src="https://kit.fontawesome.com/2e21186dac.js"></script>-->
    <!--my own functions-->
    <script src="/javascripts/navigation.js"></script>
    <!--adding a favicon-->
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon/' >
  </head>
  <body>
    <nav>
      <img class="home" src="/images/LightLogo.png" alt="logo" onclick="changePath('/');">
      <button id="sign-in" onclick="changePath('/');">Sign in</button>
      <button id="register" onclick="changePath('/register');">Register</button>
    </nav>
    <span class="center-box">
      <h1>Welcome to ACHEN To-Do Lists!</h1>
      <h3 style="margin-top: 50px">Where you can:</h3>
      <ol>
        <li>Create an activity</li>
        <li>Read an activity</li>
        <li>Update an activity</li>
        <li>Delete an activity</li>
      </ol>
      <button class="CTA">Get Started</button>
    </span>
  </body>
</html>