<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <!--paths relative to route that renders it-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/2e21186dac.js"></script>
    <script src="/dist/bundle.js"></script>
    <script src="/javascripts/navigation.js"></script>
    <!--adding a favicon-->
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon/'>
</head>
<body>
<main data-router-wrapper>
    <div data-router-view="quarter">
        <div class="transitionTL"></div>
        <div class="transitionTR"></div>
        <div class="transitionBL"></div>
        <div class="transitionBR"></div>
        <nav>
            <a href="/">
                <img class="home" src="/images/LightLogo.png" alt="logo">
            </a>
            <span class="nav-buttons">
                <div id="menu" class="close">
                    <button id="menu-icon" onclick="toggleMenu()"><i class="fas fa-bars"></i></button>
                    <ul id="menu-list">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/mylist">MyList</a></li>
                      <li><a href="/signout">Sign out</a></li>
                    </ul>
                </div>
            </span>
        </nav>
        <span class="panel center">
            <h1>Profile</h1>
            <table>
            <tr>
                <td>Name:</td>
                <td><%= name %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><%= email %></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><%= username %></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><%= password %></td>
            </tr>
            </table>
        </span>
    </div>
</main>
</body>
</html>