<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!--paths relative to route that renders it-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/2e21186dac.js"></script>
    <!--adding jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--my own functions-->
    <script src="/javascripts/navigation.js"></script>
    <!--adding a favicon-->
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon/'>
</head>
<body>
<nav>
    <img class="home" src="/images/LightLogo.png" alt="logo" onclick="changePath('/');">
    <span class="nav-buttons">
      <button id="sign-in" class="gradient-btn" onclick="changePath('/');">Sign in</button>
      <button id="register" class="gradient-btn" onclick="changePath('/register');">Register</button>
      <div id="menu" class="close">
        <button id="menu-icon" onclick="toggleMenu()"><i class="fas fa-bars"></i></button>
        <ul id="menu-list">
          <li><a href="/">Profile</a></li>
          <li><a href="/">MyList</a></li>
          <li><a href="/">Sign out</a></li>
        </ul>
      </div>
    </span>
</nav>
<span class="panel center">
      <h1>Register!</h1>
      <form action="/" method="post">
        <p><input type="text" name="name" placeholder="Name" autocomplete="off"></p>
        <p><input type="text" name="email" placeholder="Email" autocomplete="off"></p>
        <p><input type="text" name="username" placeholder="Username" autocomplete="off"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="submit" name="submit" value="Sign in"></p>
      </form>
    </span>
</body>
</html>