/*preference
selector {
    top/bottom/left/right/transforms
    width/height
    margin/padding/border
    background/colors
    text
    others
}*/

* {
    /*use outline to visualize and border to affect size*/
    /*outline: solid thin red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: auto;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

body {
    color: darkslategrey;
    font-size: 14px;
    font-family: "sans-serif";
}

/*======= NAV BAR =======*/
nav {
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: #2d3436;
}

.home {
    height: 100%;
    cursor: pointer;
}

.nav-buttons {
    position: absolute;
    right: 0%;
    height: 100%;
    text-align: center;
}

nav button {
    height: 100%;
    width: 100px;
    margin-right: 10px;
    background-image: linear-gradient(to left, #00b894, #55efc4, #00b894);
    border-radius: 5px;
}

#menu {
    display: inline-block;
    float: right;
    height: 400%;
}

#menu.close #menu-list {
    top: -100%;
}

#menu.open #menu-list {
    top: 0;
}

#menu-icon {
    position: relative;
    height: 25%;
    z-index: 1;
}

#menu-list {
    position: relative;
    height: 75%;
    margin-right: 10px;
    list-style-type: none;
    transition: .5s;
    text-align: left;
}

#menu-list li {
    height: 33%;
    border: solid thin black;
    background-color: #b2bec3;
}

#menu-list span {
    position: relative;
}

#menu-list li:hover {
    background-color: #dfe6e9;
}

.panel {
    position: absolute;
    padding: 10px;
    background-color: #ecf0f1;
    border: medium solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

.panel input {
    margin: 10px;
}

#welcome ol {
    position: relative;
    left: 50%;
    transform: translate(-25%, 0%);
    max-width: 50%;
    list-style-type: upper-roman;
}

#welcome li {
    text-align: left;
}

.CTA {
    width: 250px;
    height: 75px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: "sans-serif";
    background-image: linear-gradient(to left, #00cec9, #81ecec, #00cec9);
}

.gradient-btn {
    background-size: 200%;
    transition: .5s;
}

.gradient-btn:hover {
    background-position: right;
}

input[type="text"], input[type="password"] {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    border-radius: 15px;
    border-color: deepskyblue;
    background-color: whitesmoke;
    text-align: center;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="text"]:hover, input[type="password"]:hover {
    width: 150px;
    border-color: darkred;
    text-align: center;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: mediumslateblue;
    color: white;
}

input[type="submit"]:hover {
    width: 150px;
}