/*preference
selector {
    top/bottom/left/right/transforms
    width/height
    margin/padding/border
    background/colors
    text
    others
}*/

* {
    /*use outline to visualize and border to affect size*/
    /*outline: solid thin red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: auto;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    font-family: "sans-serif";
    background-image: linear-gradient(120deg, #55efc4, #6c5ce7);
    background-size: cover;
    background-repeat: no-repeat;
}

/*======= NAV BAR =======*/
nav {
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: #2d3436;
}

.home {
    height: 100%;
    cursor: pointer;
}

.nav-buttons {
    position: absolute;
    right: 0%;
    height: 100%;
    text-align: center;
}

nav button {
    height: 100%;
    width: 100px;
    margin-right: 10px;
    background-image: linear-gradient(to left, #00b894, #55efc4, #00b894);
    border-radius: 5px;
}

/*======= MENU =======*/
#menu {
    display: inline-block;
    float: right;
    height: 400%;
}

#menu.close #menu-list {
    top: -100%;
}

#menu.open #menu-list {
    top: 0;
}

#menu-icon {
    position: relative;
    height: 25%;
    z-index: 1;
}

#menu-list {
    position: relative;
    height: 75%;
    margin-right: 10px;
    list-style-type: none;
    transition: .5s;
    text-align: left;
}

#menu-list li {
    height: 33%;
    border: solid thin black;
    background-color: #b2bec3;
}

#menu-list li:hover {
    background-color: #dfe6e9;
}

#menu-list a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*======= CONTAINERS =======*/
.panel {
    position: absolute;
    padding: 50px;
    max-height: 85vh;
    background-color: #ecf0f1;
    border: medium solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    overflow: auto;
}

.panel *{
    margin: 10px;
}

.panel table td{
    padding: 10px;
    text-align: left;
}

.panel input {
    margin: 10px;
}

.panel a{
    cursor: pointer;
}

#welcome ol {
    position: relative;
    left: 50%;
    transform: translate(-25%, 0%);
    max-width: 50%;
    list-style-type: upper-roman;
}

#welcome li {
    padding: 10px;
    text-align: left;
}

.CTA {
    width: 250px;
    height: 75px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: "sans-serif";
    background-image: linear-gradient(to left, #00cec9, #81ecec, #00cec9);
}

.error{
    color: red;
}

.gradient-btn {
    background-size: 200%;
    transition: .5s;
}

.gradient-btn:hover {
    background-position: right;
}

.expand:focus, .expand:hover {
    width: 50%;
}

.loginInput {
    width: 150px;
    height: 50px;
    padding-left: 5px;
    border-radius: 15px;
    border-color: deepskyblue;
    background-color: whitesmoke;
    text-align: center;
}

form input[type="submit"] {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    color: white;
    background-color: mediumslateblue;
    text-align: center;
}

.todo{
    width: 50%;
}

.todo h3{
    text-align: left;
}

.todo input[type="text"]{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

.todo ul{
    list-style-type: none;
}

.todo li{
    padding: 10px;
    text-align: left;
}

.todo i{
    float: right;
    margin: 5px;
    cursor: pointer;
}

.notComplete li{
    background-color: #dfe6e9;
    color: #636e72;
}

.complete li{
    background-color: #636e72;
    color: #dfe6e9;
}