/*preference
selector {
    top/bottom/left/right/transforms
    width/height
    margin/padding/border
    background/colors
    text
    others
}*/

* {
    /*use outline to visualize and border to affect size*/
    outline: solid thin red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: darkslategrey;
    font-size: 14px;
    font-family: "sans-serif";
}

nav {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: black;
}

nav button {
    position: relative;
    float: right;
    margin: 10px;
    height: 30px;
    width: 100px;
    background-color: mediumseagreen;
    color: white;
    border-radius: 5px;
}

nav button:hover {
    background-color: #55efc4;
    color: black;
}

nav .home {
    height: 100%;
}

.center-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
    background-color: #ecf0f1;
    border: medium solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

.center-box input {
    margin: 10px;
}

.center-box ol {
    position: relative;
    left: 50%;
    transform: translate(-25%, 0%);
    max-width: 50%;
    list-style-type: upper-roman;
}

.center-box li {
    text-align: left;
}

.center-box .CTA {
    width: 250px;
    height: 50px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "sans-serif";
}

.center-box .CTA:hover {
    background-color: #55efc4;
    color: black;
}

input[type="text"], input[type="password"] {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    border-radius: 15px;
    border-color: deepskyblue;
    background-color: whitesmoke;
    text-align: center;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="text"]:hover, input[type="password"]:hover {
    width: 150px;
    border-color: darkred;
    text-align: center;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: mediumslateblue;
    color: white;
}

input[type="submit"]:hover {
    width: 150px;
}